{% extends 'base.html'%}s
{% block content %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <form action="{% url 'dashboard' %}" method="post">
        {% csrf_token %}
        <select name='name_of_select'>
            <option selected>Open this select menu</option>
            {% for month in xl_months %}
            <option value={{month}}>{{month}}</option>
            <!--    <a class="dropdown-item" onsubmit="" type="selection" name="month" href="{% url 'dashboard'%}">{{ month }}</a>-->
            {% endfor %}
        </select>
        <button class="btn btn-light" type='submit' name="Fetch" >Fetch Data</button>
    </form>
    </li>
</ul>
</br>
<!--<div class="btn-group">-->
<!--    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'dashboard'%}">{% csrf_token %}-->
<!--    <button type="button" class="btn btn-info">Action</button>-->
<!--    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"-->
<!--            aria-haspopup="true" aria-expanded="false">-->
<!--        <span class="sr-only">Toggle Dropdown</span>-->
<!--    </button>-->
<!--    <div class="dropdown-menu">-->
<!--        {% for month in xl_months %}-->
<!--        <a class="dropdown-item" onsubmit="" type="selection" name="month" href="{% url 'dashboard'%}">{{ month }}</a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    </form>-->
<!--</div>-->
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="total-order">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{OrdersCount}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Total Earnings</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{TotalEarnings}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="Order-pending">
                <div class="card-header">
                    <h5 class="card-title">Total Expenses</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{TotalExpenses}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="Order-pending">
                <div class="card-header">
                    <h5 class="card-title">Profit</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">0</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-light ms-4 me-4 mb-4">
    <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Recent Orders
    </div>
    <div class="card-body">
        <p class="card-text">
        <div class="table-responsive" style="max-height:300px;">
                {% autoescape off %}{{ table_content }}{% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}