{% extends 'base.html'%}s
{% block content %}
<ul class="nav justify-content-end">
    <li class="nav-item">
        <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#exampleModal" hidden>
            Add Expenses
        </button>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
             aria-hidden="true">
            <div class="modal-dialog" role="document">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <form action="{% url 'dashboard' %}" method="post">
                        {% csrf_token %}
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="expense-name" class="col-form-label">Expenses Name:</label>
                                <input type="text" class="form-control" id="expense-name" name="e_name">
                            </div>
                            <div class="form-group">
                                <label for="expense-amount" class="col-form-label">Amount:</label>
                                <input type="number" class="form-control" id="expense-amount" name="e_amount">
                            </div>
                            <div class="form-group">
                                <select name='e_month'>
                                    <option>Open this select menu</option>
                                    {% for month in xl_months %}
                                    {% if month == month_selection %}
                                    <option value={{month}} selected>{{month}}</option>
                                    {% else %}
                                    <option value={{month}}>{{month}}</option>
                                    {% endif %}
                                    <!--    <a class="dropdown-item" onsubmit="" type="selection" name="month" href="{% url 'dashboard'%}">{{ month }}</a>-->
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-primary" data-dismiss="modal">Save Expenses</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </li>
    <li class="nav-item">
        <form action="{% url 'dashboard' %}" method="post">
            {% csrf_token %}
            <select name='name_of_select'>
                {% for month in xl_months %}
                {% if month == month_selection %}
                <option value={{month}} selected>{{month}}</option>
                {% else %}
                <option value={{month}}>{{month}}</option>
                {% endif %}
                {% endfor %}
            </select>
            <button class="btn btn-secondary" type='submit' name="Fetch">Fetch Data</button>
        </form>
    </li>
</ul>
</br>
<h1 class="mb-5">Dashboard for the month: {{month_selection}}</h1>
<!--<div class="btn-group">-->
<!--    <form class="form-inline my-2 my-lg-0" method="get" action="{% url 'dashboard'%}">{% csrf_token %}-->
<!--    <button type="button" class="btn btn-info">Action</button>-->
<!--    <button type="button" class="btn btn-info dropdown-toggle dropdown-toggle-split" data-toggle="dropdown"-->
<!--            aria-haspopup="true" aria-expanded="false">-->
<!--        <span class="sr-only">Toggle Dropdown</span>-->
<!--    </button>-->
<!--    <div class="dropdown-menu">-->
<!--        {% for month in xl_months %}-->
<!--        <a class="dropdown-item" onsubmit="" type="selection" name="month" href="{% url 'dashboard'%}">{{ month }}</a>-->
<!--        {% endfor %}-->
<!--    </div>-->
<!--    </form>-->
<!--</div>-->
<div class="row">
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="total-order">
                <div class="card-header">
                    <h5 class="card-title">Total Orders</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{OrdersCount}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="orders-delivered">
                <div class="card-header">
                    <h5 class="card-title">Total Earnings</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{TotalEarnings}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="Total-expenses">
                <div class="card-header">
                    <h5 class="card-title">Total Expenses</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{TotalExpenses}}</h3>
                </div>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="col-md">
            <div class="card text-center ext-white mb-3" id="Total-profit">
                <div class="card-header">
                    <h5 class="card-title">Total Profit</h5>
                </div>
                <div class="card-body">
                    <h3 class="card-title">{{total_profit}}</h3>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="card bg-light ms-4 me-4 mb-4">
    <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> All Orders
    </div>
    <div class="card-body">
        <p class="card-text">
        <div class="table-responsive" style="max-height:300px;">
            {% autoescape off %}{{ orders_data }}{% endautoescape %}
        </div>
    </div>
</div>
<div class="card bg-light ms-3 me-3 mb-3">
    <div class="card-header">
        <i class="fa-solid fa-list fa-lg"></i> Expenses
    </div>
    <div class="card-body">
        <p class="card-text">
        <div class="table-responsive" style="max-height:300px;">
            {% autoescape off %}{{ expenses_data }}{% endautoescape %}
        </div>
    </div>
</div>
{% endblock %}